.time{
  /* width: 80px; */
  height: 80px;

}

textarea{
  height: 80px!important;
}

button{
  width: 80px;
  height: 80px!important;
}


h1, h3, h4 {
  text-align: center;
}

h1{
  font-size: 80px;
}

#nineamtextarea{
  background-color: green;
}

#bottomborder{
  border-bottom: 5px solid black;
}

#jumboTron{
  margin-top: 80px;
  margin-bottom: 80px;
}

#bottomContainer{
  margin-top: 80px;
  margin-bottom: 80px;
}

